@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Fernando's Social Media Site</h1>
        <p class="lead">Welcome to my website! Please browse to your heart's content!!</p>
    </div>
</div>

<div class="row equal">
    <div class="col-md-4 newsCol1">
        <h2>News</h2>
        <p>
            "I am currently behind on my assignments in class. Juggling between school, work, and life is pretty dang hard.
            Hopefully I should be caught up before the last three days of class. Wish me luck on that. I came down with a flu that's bothering
            me with my sleep and focus in school and work. Oh boy, I could already see what the next few weeks gonna be like."
        </p>
    </div>  
    <hr />
    <div class="col-md-4 newsCol2">
        <h3>Some real news</h3>
        <ul>
            <li> <a href="https://www.cnn.com">CNN Website</a></li>
            <li> <a href="https://www.foxnews.com" >Fox News Website</a></li>
            <li> <a href="https://www.abcnews.go.com">ABC News Website</a></li>
            <li><a href="https://www.cnbc.com">CNBC News Website</a></li>
            <li><a href="https://www.nbcnews.com">NBC News Website</a></li>
        </ul>
       
    </div>
</div>