@model ProfileService.Models.ImageModel

<div class="ProfileImageContainer">
    <div class="ImageHeader">
        @*<h1>@Model.ImageName</h1>*@
    </div>
    <div class="ImageBody">
        <img class="pic" src="@Model.ImageURL" />
        @*width="@Model.Width" height="@Model.Height"*@
    </div>
    <div class="ImageFooter">

    </div>
</div>